body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #94C973;
  color: white;
  padding: 2rem;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

p {
  margin-bottom: 12px;
  line-height: 1.6;
}

ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

#artifacts ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

#artifacts li {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


section {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto 2rem auto; /* adds bottom margin to space out each section */
}

h1 {
  color: #2F5233;
}

h2 {
  color: #2F5233;
}

footer {
  background-color: #94C973;
  color: #2F5233;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
